<h2>Tienda Online</h2>

<div class="cardContainer">
  {{#each productos}}
  <div class="cardProducts">
    <h4 class="titulo"> {{this.title}} </h4>
    <img src="{{this.img}}" alt={{this.title}} />
    <p> Precio: {{this.price}} </p>
    <p> Stock Disponible: {{this.stock}} </p>
    <button class="btn" id="btnComprar" onclick="window.location.href='/products/{{this._id}}'"> Comprar </button>
  </div>
  {{/each}}
</div>


<div class="page-container">
  <div>
    
      {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}">Anterior</a>
      {{/if}}
   
      {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}">Siguiente</a>
      {{/if}}
    
  </div>

  <p>Página {{currentPage}} de {{totalPages}}</p>
</div>