<h2>Tienda Online</h2>

<div class="cardContainer">
  {{#each productos}}
    <div class="cardProducts">
      <h4 class="titulo"> {{this.title}} </h4>
      <img src="{{this.img}}" alt="sin imagen por el momento" />
      <p>  {{this.description}} </p>
      <p> Precio: {{this.price}} </p>
      <p> Codigo: {{this.code}} </p>
      <p> Stock Disponible: {{this.stock}} </p>
      <button id="btnComprar"> Comprar </button>
    </div>
  {{/each}}
</div>


<div class="pagination">
   {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}">Anterior</a>
   {{/if}}
   <p>Página {{currentPage}} de {{totalPages}}</p>
   {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}">Siguiente</a>
   {{/if}}
</div>